<div class="passenger-index"> 
  <h2 class="passenger-header">All Passengers</h2>


  <%= will_paginate @passenger, class: "paginate"%>

  <table class="passenger-table">
    
      <tr class="passenger-table-headers">
        <th>Name</th>
        <th>Phone Number</th>
      </tr>

    <% @passenger.each do |passenger|%>
   
      <tr class="passenger-data">
        <td><%= link_to passenger.name, passenger_path(passenger) %> </td>
        <td><%= passenger.phone_num %></td>
      </tr>
  
    <%end %>
  </table>

</div>

