<div class="driver-index"> 
<h2 class="driver-header"> All Drivers</h2>

<%= will_paginate @driver%>
<table>
  <tr>
    <th>Name</th>
    <th>VIN</th>
    <th>Available</th>
  </tr>

  <% @driver.each do |driver| %>

  <tr>
    <td> <%= link_to driver.name, driver_path(driver.id) %> </td>
    <td> <%= driver.vin %> </td>
    <td> <%= driver.available %> </td>
  </tr>

<% end %>

</table>

</div>