/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
@import "**/*";

.app-header {
  padding: 5% 0 0 3%;
  background-color: black;
  color: white;

}

nav {
  max-width: 70%;
  overflow: auto;
  padding: 0 0 3% 0;
}

nav ul > *{
  float: left;
  padding: 12px 5px 12px 5px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 20%; 
  text-align: center; 
  display: flex;
  align-items: left;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 1%;
}

.deleted{
  text-decoration-color: gray;
}

a {
  color: black;
  text-decoration: underline;
  
}

em {
  color: #AC4F4F;
}
.main-link {
  text-decoration: none;
  color: white;
}

