// Place all the styles related to the Passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.paginate {
  min-width: 80%;
  overflow: auto;
  padding: 0 5% 5% 0;
  margin-right: 5%;
  text-align: right;
 
}

.paginate .paginate > *{
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 30%; 
  text-align: center; 
}

.passenger-header {
  width: 100%;
  text-align: center;
  margin-top:3%;
}

.passenger-table {
  width: 80%;
  padding-left: 25%;
  width: 70%;
  margin-left: 15%;
  padding: 10%;
  border: black solid 2px;
}

.passenger-table-headers{
  margin: 10%;

}

.form {
  margin-left: 2rem;
}

.passenger-button {
  border-color: blue;
  color: #fff;
  box-shadow: 0 0 40px 40px blue inset, 0 0 0 0 blue;
  transition: all 150ms ease-in-out;
}
.edit-delete-passenger {
  max-width: 50%;
  margin: 5% 0  0 10%;
  background-color: #E5B8B8;
}
.show-header-passenger {
  text-align: center;
  width: 100%;

}
.show-info-passenger{
  width:90%;
  text-align: center;
  margin:3%;
}
.show-buttons-passenger {
  margin-left: 25%;
  
}