// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/




.paginate {
  min-width: 80%;
  overflow: auto;
  padding: 0 5% 5% 0;
  margin-right: 5%;
  text-align: right;
 
}

.paginate .paginate > *{
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 30%; 
  text-align: center; 
}

.trips-header {
  width: 100%;
  text-align: center;
  margin-top:3%;
}

.trip-table {
  width: 80%;
  padding: 30%;
  margin-left: 10%;
  border: black solid 2px;
}


.trip-table-headers{
  margin: 10%;
}

.trip-info {
  margin-left: 2rem;
}

.edit-rating > button, .trip-button {
  background-color: blue;
  color: white;
}